/* Region Fonts */

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");

@font-face{
	font-family: "droid-serif";
	src: url("fonts/Droid-serif.ttf");
	src: local("droid-serif"), url("fonts/Droid-serif.ttf");
}

@font-face{
	font-family: "spinakker";
	src: url("fonts/Spinnaker-Regular.ttf");
	src: local("spinakker"), url("fonts/Spinnaker-Regular.ttf");
}

/* End Region */

/* Region General */

.background-page{
	background-color: #CCCCCC;
}

.padding0{
	padding: 0;
}

.mt5{
	margin-top: 5px;
}

.mt10{
	margin-top: 10px;
}

.mt20{
	margin-top: 20px;
}

.toggle.btn.btn-success{
	float: right !important;
}

/* End Region */

.black{
	border: 2px solid black;
}

.ancho{
	height: 40px;
}


